body {
    width: 300px;
    height: 400px;
    padding: 0px 10px;
}
main {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
main p {
    margin: 5px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
pre {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}
#optext {
    text-align: center;
}
footer {
    text-align: center;
    padding: 1px;
}

.dark-mode {
  background-color: #222;
  color: #eee;
}